* {
    margin: 10px;
    padding: 0px;
    border: 10px;
    font-family: 'Nunito', sans-serif;
}
#Halt {
    color: #EC4067;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 3px;
    text-align: center;
    background: #EC4067;
    color: white;
    border-radius: 3px;
    border: 5px solid #EC4067;
    cursor: pointer;
}
#btn {
    box-shadow: 0 0 7px #EC4067;

}
#btn1 {
    background: white;
    color: #EC4067;
    border: 1px solid #EC4067;
    width: 20%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0;
}
/*Header section*/
.header {
    border: 2px solid white;
    padding: auto;
    align-items: flex;
}
.header .navigation .resources {
    font-weight: 200;
    align-items: right;
    color: black;
    font-weight: 200;
}
.header .navigation {
    display: flex;
    justify-content: space-between;
}
.header .navigation .resources a:link {
    color: black;
}
.header .navigation .resources a:visited {
    color: black;
}
.header .navigation .resources .btn:hover {
    color: black;
}
.navigation {
    display: inline;
}
.header .navigation .heading {

}
.body {
    margin: 10px;
    border: 10px;
    padding-left: 0;
    padding-right: 15px;
}
/*home section */
.body .home {

    display: flex;
    flex-wrap: nowrap;
    border: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;

    
}
.body .home .content {
    text-align: left;
    border: 20px;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    width: 60%;
}
.body .home .image {
    overflow: hidden;
}
.body .home .image img {
    width: 60%;
    object-fit: cover;
}
.body .home .content .text {
    font-weight: 100;
}

/*stories section*/
.body .shape {
    text-align: left;
    display: inline;
}
.body .shape #halo {
    background: #E5E4E2;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
/*technical mentors */
.profiles {
    display: flex;
    justify-content: space-between;

}
.picture-name {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

/* project*/
.project .home .content .image {
    justify-content: space-between;
    display: flex;
}




/* persuance section*/
.persue {
    font-size: larger;
}
.persue h1 {
    font-weight: 300;
}
.persue p {
    font-weight: 400;
}



/* footer section */
.footer {
    text-align: center;
    box-sizing: border-box;
    background-color: #E5E4E2;
    align-items: center;
    height: 15%;
    padding-top: 18px;
}
.footer p {
    font-size: medium;
}
.footer p i{
    color: maroon;
}

/* technical mentors */
.tm {
    display: flex;
    overflow: hidden;
    object-fit: cover;

}
#tm {
    width: 288px;
}

